* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1.6;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
header {
  background-color: rgb(255, 182, 193);
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;

  a {
    border-radius: 1rem;

    &:hover {
      background-color: rgb(248, 157, 171);
    }
  }

  /*MODIFICACION NAV BAR BOOTSTRAP*/
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #ed143d;
    font-size: 1.3rem;
    margin-left: 4rem;
  }
}

.bg-light {
  --bs-bg-opacity: 0;
}

#portada {
  position: relative;
  display: inline-block;
  width: 100%;
  img {
    width: 100%;
    height: 100vh;
  }
}

.titulo {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;

  h1 {
    width: 25%;
    margin: auto;
    font-size: 5rem;
    background-color: rgba(76, 0, 130, 0.836);
    color: whitesmoke;
    border-radius: 30px;
    margin-bottom: 1rem;
  }
}

.btn-primary {
  background-color: rgb(212, 55, 79);
  border: rgb(212, 55, 79);
  font-size: 1.5rem;

  &:hover {
    background-color: rgba(212, 55, 78, 0.897);;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px 0;
    color: black;
    border: black;
  }

  a {
    color:black;
  } 

  &:focus {
    background-color: rgba(212, 55, 78, 0.897);
    
  }
}

main {
  margin: 10rem;
  padding-top: 5rem;
}


.titulo_productos {
    text-transform: uppercase;
    text-align: center;
 
    h2 {
        font-size: 5rem;
        color:rgb(240, 108, 128);
    }
}

.imgProducto {
  height: 20rem;
  
}




.table-carrito{
    padding:1rem;
   
}


.btn-info {
  border-radius: 1rem;
  border:  1px solid black;
  
}

.btn-success {
  border-radius: 1rem;
  border:  1px solid black;
}

.btn-secondary{
  background-color: rgb(241, 159, 198);
  color: black;

}